.settings
.svn
local.properties
orig-build.xml
android/proguard
android/res/drawable/torch_button.xml
android/res/drawable-hdpi/torch.png
android/res/drawable-hdpi/torch_pressed.png
android/src/com/
bin/
gen/
PauseButton.java
PseudoTranslator.java
TranslatorBing.java
TranslatorGoogle.java
actionscript/
release/
android-integration/
androidtest/
csharp/
iphone/
jruby/
rim/
symbian/
zxing.appspot.com/
build/
.gradle/
.idea/
*.iml
*.so
*.o
*.class
OCRTest/jni/
OCRTest/src/main/cpp/
OCRTest/src/main/java/jni/
OCRTest/src/main/jniLibs/
jni/
tess-two/build
tess-two/libs
tess-two/obj
